*.rar
ProgDC.net
Gerbers-ProgDC/ProgDC-B_Cu.gbr
Gerbers-ProgDC/ProgDC-B_Mask.gbr
Gerbers-ProgDC/ProgDC-B_Paste.gbr
Gerbers-ProgDC/ProgDC-B_Silkscreen.gbr
Gerbers-ProgDC/ProgDC-Edge_Cuts.gbr
Gerbers-ProgDC/ProgDC-F_Cu.gbr
Gerbers-ProgDC/ProgDC-F_Mask.gbr
Gerbers-ProgDC/ProgDC-F_Paste.gbr
Gerbers-ProgDC/ProgDC-F_Silkscreen.gbr
Gerbers-ProgDC/ProgDC-job.gbrjob
Gerbers-ProgDC/ProgDC-NPTH.drl
Gerbers-ProgDC/ProgDC-PTH.drl
Gerbers-Z80card/Z80_card-B_Cu.gbr
Gerbers-Z80card/Z80_card-B_Mask.gbr
Gerbers-Z80card/Z80_card-B_Paste.gbr
Gerbers-Z80card/Z80_card-B_Silkscreen.gbr
Gerbers-Z80card/Z80_card-Edge_Cuts.gbr
Gerbers-Z80card/Z80_card-F_Cu.gbr
Gerbers-Z80card/Z80_card-F_Mask.gbr
Gerbers-Z80card/Z80_card-F_Paste.gbr
Gerbers-Z80card/Z80_card-F_Silkscreen.gbr
Gerbers-Z80card/Z80_card-job.gbrjob
Gerbers-Z80card/Z80_card-NPTH.drl
Gerbers-Z80card/Z80_card-PTH.drl
ProgDC-backups/ProgDC-2026-02-06_134610.zip
ProgDC-backups/ProgDC-2026-02-06_135612.zip
ProgDC-backups/ProgDC-2026-02-06_140136.zip
ProgDC-backups/ProgDC-2026-02-06_162733.zip
ProgDC-backups/ProgDC-2026-03-08_001906.zip
ProgDC-backups/ProgDC-2026-03-15_133221.zip
ProgDC-backups/ProgDC-2026-03-16_140115.zip
ProgDC-backups/ProgDC-2026-03-16_141042.zip
ProgDC-backups/ProgDC-2026-03-16_220458.zip
ProgDC-backups/ProgDC-2026-03-18_103625.zip
ProgDC-backups/ProgDC-2026-03-21_205709.zip
ProgDC-backups/ProgDC-2026-01-13_165904.zip
ProgDC-backups/ProgDC-2026-01-13_201251.zip
ProgDC-backups/ProgDC-2026-01-13_210822.zip
ProgDC-backups/ProgDC-2026-01-14_003646.zip
ProgDC-backups/ProgDC-2026-01-14_101946.zip
ProgDC-backups/ProgDC-2026-01-14_135519.zip
ProgDC-backups/ProgDC-2026-01-15_115916.zip
ProgDC-backups/ProgDC-2026-01-28_175310.zip
ProgDC-backups/ProgDC-2026-02-05_190716.zip
ProgDC-backups/ProgDC-2026-02-05_191723.zip
ProgDC-backups/ProgDC-2026-02-05_194028.zip
ProgDC-backups/ProgDC-2026-02-05_195031.zip
ProgDC-backups/ProgDC-2026-02-05_211437.zip
ProgDC-backups/ProgDC-2026-02-06_133608.zip
fp-info-cache
ProgDC.kicad_sch-bak
~ProgDC.kicad_sch.lck
sym-lib-table
